<section>
    <ul>
   
        <li> 
          <h3><%=title%></h3>
          <h3><%=author%></h3>
          <h3>ISBN: <% isbn %></h3>
          <h3><%=image %></h3>
          <p><%=description%></p>
        </li>
        
    </ul>
  </section>
