<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/base.css">
  <title>Document</title>
</head>
<body>
  <%- include ../layout/header %>
  <main class="container">
    <h1>Best Books!</h1>
    <!-- <div class="hamburger"></div>
    <div class="hamburger"></div>
    <div class="hamburger"></div> -->
    <h4>Search by Title or Author</h4>
  
  
    <form id= "form" action="/searches" method= POST>
    <input id="enter" type="text" name="search" value="Enter a title or author" required>
    <fieldset>
      <div id="title">
      <label for="title">
        <span>Title</span>
        <input type="radio" name= "search" value="title" required>
      </label>
    </div>

    <div id="author"> 
      <label class="form-field">
          <span>Author</span>
          <input type="radio" name= "search" value="author" required>
        </label>
      </div>
    </fieldset>
   
    <button id="submit" type=submit>Search the Google Books API</button>
  
     </form>
    </main>
  
</body>
</html>