
<link rel="stylesheet" href="/styles/base.css">
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/new">Search For A Book</a></li>
        </ul>
    </nav>
</header>